.app{
    overflow: hidden;
}


.header{
 height: var(--header-height);   
 background-image: linear-gradient(0,#fe6433,#f53e2d);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar--list{
    /* bỏ dấu chấm li */
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;

}
.header__navbar--item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}
.header__navbar-icon-link:nth-child(2){
    margin-left: 4px;
}
.header__navbar--item,
.header__navbar--item-link{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--write-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar--item,
.header__navbar--item-link,
.header__navbar--icon{
    display: inline-flex;
    align-items: center;
}



.header__navbar--icon:hover,
.header__navbar--item:hover,
.header__navbar--item-link:hover{
   color: rgba(255, 255, 255, 0.7);
   cursor: pointer;
}
.header__navbar--item--strong{
    font-weight: 400;
}
.header__navbar--item--separate::after{
    display: inline-block;
    content: "";
    position: absolute;
    height: 12px;  
    border: 1px solid #fb9086;
    top: 50%;
    transform: translateY(-50%);
    right: -9px;
}
.header__navbar--icon{
    font-size: 1.8rem;
    margin: 0 4px;
    color: var(--write-color);
}
.header__navbar--title--no-pointer{
    cursor: text;
    color: var(--write-color);
}
/* header QR code */
.header__qr{
    background-color: var(--write-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 150%;
    padding: 8px;
    border-radius: 2px;
    /* ẩn mã QR */
    display: none;
    animation: fadeIn ease-in .3s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.header__qr::before{
    /* cây cầu nối  */
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 20px;
    /* background-color: rebeccapurple; */
    top: -8%;
    left: 0;
}

.header__qr-img{
    width: 100%;
}
.header__qr--apps{
    display: flex;
 
    
}
.header__qr-link{
    display: inline-flex;
    align-items: center;
}
.header__qr-download-img{
height: 20px;
}
.header__navbar-item-has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item-has-notify:hover .header__notify{
    display: block;
}
.header__navbar-user{
    display: flex;
    justify-content: center;
    position: relative;
    
}
.header__navbar-user-img{
    width: 22px;
    height: 22px;   
    /* display: none; */
    border-radius: 50%;
}
.header__navbar-user-name{
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}
.header__navbar-user-menu{
    position: absolute;
    z-index: 1;
    padding-left:0 ;
    top: calc(100% + 6px);
    right: 0;
    width: 160px;
    border-radius: 2px;
    background-color: var(--write-color);
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-menu:before{
    content: "";
    display: block;
    border-width: 20px 20px;
    border-style:  solid;
    border-color: transparent transparent var(--write-color) transparent;
    position: absolute;
    right: 1px;
    top: -25px;
}
.header__navbar-user-menu::after{
    position: absolute;
    display: block;
    content: "";
    /* background-color: blue; */
    width:60%;
    height: 10px;
    top: -8px;
    right: 0;
}
.header__navbar-user-item{

}
.header__navbar-user-item--separate{
    border-top: 1px solid rgba(0,0,0,0.05);
}
.header__navbar-user-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 4px 16px;
    display: block;
}
.header__navbar-user-item a:hover{
    background-color: #fafafa;
}
.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

/* header notification */
.header__notify{
    position: absolute;
    width: 404px;
    top: 118%;
    border: 1px solid #D3D3D3;
    right: 0;
    background-color: var(--write-color);
    cursor: default;
    /* animation : hiệu ứng khi hover , transform-origin là chỉnh tâm  */
    transform-origin: calc(100% - 32px) right;
    animation: headerNotifiGrowth ease-in 0.25s;
    display: none;
    will-change: opacity,transform;
    z-index: 1;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.1);
    z-index: 2;
}
.header__notify::before{
    content: "";
    display: block;
    border-width: 20px 30px;
    border-style:  solid;
    border-color: transparent transparent var(--write-color) transparent;
    position: absolute;
    right: 1px;
    top: -30px;
}
.header__notify::after{
    content: "";
    display: block;
    width: 90px;
    height: 20px;
   
    position: absolute;
    top: -10px;
    right: 0;
   
}
@keyframes headerNotifiGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header{
    height: 40px;
    background-color: var(--write-color);

}
.header__notify-header h3{
    color: #999;
    line-height: 40px;
    margin: 0 0 0 12px;
    cursor: text;
    font-family: 400;
    font-size: 1.4rem; 
       /* user select là chọn phần tử  */
    user-select: none;

}

.header__notify-list{
    padding-left: 0;
}
.header__notify-item{

}
.header__notify-item:hover{
    background-color: #f7f7f7;
}
.header__notify-item-viewed{
    background-color: rgba(238,75,43,0.08);
}
.header__notify-link{
    display: flex;
    width: 100%;
    padding:12px;
    text-decoration: none;
   
}
.header__notify-img{
width: 48px;
object-fit: contain;

}
.header__notify-info{
    margin-left: 12px;
}
.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}
.header__notify-description{
    display: block;
    font-size: 1.2rem;
    line-height: 3.6rem;
    color: #756F6E;
}
.header__notify-footer{
   /* display: flex; */
   background-color: violet;
   
}
.header__notify-footer-btn{
   text-decoration: none;
   color: var(--text-color);
   padding: 12px 48px;
   /* width: 100%; */
   margin: auto;
    display: block;
    text-align: center;
   font-size: 1.6rem;
   font-weight: 400;
}
/* authen modal */
.auth-form
{
    width: 500px;
    background-color: var(--write-color);
    border-radius: 2px;
    /* overflow : hidden là ẩn các thuộc tính của phần tử con lồi */
    overflow: hidden;
}
.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus{
    border-color: #888;
}
.auth-form__container{
    padding: 0 32px;    
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color-rgba);
    cursor: pointer;
}
.auth-form__form{
   
}
.auth-form__aside{
    margin-top: 18px;
    
}
.auth-form__policy-text{
    font-size: 1.2rem;
   line-height: 1.6rem;
   text-align: center;
   padding: 0 12px;
}
.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color-rgba);
}
.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__controls--back{
    margin-right: 8px;
}
.auth-form__socials{
    background-color: #F5F5F5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}
.auth-form__socials-icon{
    font-size: 1.8rem;
}
.auth-form__socials--facebook,
.auth-form__socials--google{
    color: var(--write-color);
    cursor: pointer;
  
}
.auth-form__socials--google{
    color: var(--text-color);
}
.auth-form__socials--facebook{
    background-color: #3A5A98;
}
.auth-form__socials--label{
    margin: 0 32px;
}

/* login form */
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}
.auth-form__separate{
    display: block;
    border: 1px solid var(--border-color);
    height: 21px;
    margin: -1px 16px 0px;
}
.auth-form__help-forgot{
    color: var(--primary-color-rgba);
}

/* search */
.header-with-search{
    height: var( --header-with-search-height);
    display: flex;
    align-items: center;
    padding: 0 8px;
   
}
.header__mobile-search{
    padding: 0 12px;
    display: none;
}
.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--write-color);
}

.ti-menu-icon{
    display: none;
    font-size: 2.6rem;
    color: var(--write-color);
    
}
.over__play{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.1);
    display: none;
    animation: fadeIn linear 0.3s;
}
.nav__mobile{
    /* display: none; */
    position: fixed;
    top: var(--header-height);
    left: 0;
    bottom: 0;
    background-color: #fff;
    width: 200px;
    z-index: 1;
    max-width: 100%;
    transform: translateX(-100%);
    /* opacity: 0; */
    transition: transform linear 0.2s , opacity linear 0.2s;
   
}
.nav__input:checked ~ .over__play{
    display: block;
}
.nav__input:checked ~ .nav__mobile{
    transform: translateX(0%);
}
.nav__mobile-close{
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 2rem;
}
.nav__mobile-list{
   padding-left: 0;
   margin-left: 10px;
    list-style: none;
}
.nav__mobile-item{

}
.nav__mobile-item-link{
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
}
.header__logo{
    width: 200px;
}
.header__logo-link{
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 0; 
}
.header__logo-img{
    width: 150px;   
    color: var(--write-color);
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/* header cart */
.header__cart{
    width: 150px;
    text-align: center;
    
   
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-icon{
    font-size: 2.4rem;
    color: var(--write-color);
}
.header__cart-notice{
    position: absolute;
    top: -6px;
    right: 24px;
    background-color: var(--write-color);
    color: var(--primary-color-rgba);
    padding: 1px 7px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border: 2px solid #EE4D2D;
    border-radius: 10px;
}
.header__cart-list{
    position: absolute;
    top: calc(100% + 11px);
    right: -3px;
    background-color: var(--write-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,0.2);
    display: none;
    animation: fadeIn ease-in .2s;
    cursor: default;
    z-index: 1;
}
.header__cart-list::after{
    content: "";
    cursor: pointer;
    position: absolute;
    right: 2px;
    top: -30px;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--write-color) transparent;
}
.header__cart-list--no-cart{
    padding: 28px 0;
  
}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-no-cart-msg
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.header__cart-no-cart-img{
    width: 54%;
    display: none;
}
.header__cart-no-cart-msg{
    display: block;
    font-size: 1.4rem;
    margin-top: 12px;
    color: var(--text-color);
    display: none;
}
/* have cart */
.header__cart-item{
    display: flex;
    align-items: center;
 
}
.header__cart-item:hover{
    background-color: #F8F8F8;
}
.header__cart-img{
    height: 42px;
    width:  42px;
    margin: 12px;
    border: 1px solid var(--border-color);

}
.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    max-height:56vh;
    overflow-y:auto ;
}
.header__cart-item-info{
    width: 100%;
    margin-right: 12px;

}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    padding-right: 10px;
    color: var(--text-color);
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
    
}
.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color-rgba);
}
.header__cart-item-multiphy{
    font-size: 0.9rem;
    color: #757575;
    margin: 0 4px;
}
.header__cart-item-quantity{
    font-size: 1.2rem;
    color: #757575;
}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;
}
.header__cart-item-description{
    font-size: 1.4rem;
    color: #757575;
    font-weight: 300;
}
.header__cart-item-remove{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;   
}
.header__cart-item-remove:hover{
    color: var(--primary-color-rgba);
    cursor: pointer;
}
.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
}
.header__cart-view-cart:hover{
    background-color: #F05D41;
}
/* header sort bar */
.header__sort-bar{
    position: fixed;
    top: var(--header-height);
    right: 0;
    left: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--write-color);
    display: flex;
    list-style: none;
    margin:0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}
.header__sort-item{
    flex: 1;
}
.header__sort-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var( --header-sort-bar-height);
    text-align: center;
    position: relative;
}
.header__sort-link::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
}
.header__sort-item--active .header__sort-link{
    color: var(--primary-color-rgba);
}
.header__sort-item:first-child .header__sort-link::before{
    display: none;
}
/* header search */
.header__mobile-search-checkbox:checked ~ .header__search{
    display: flex;
}
.header__search{
    background-color: var(--write-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
   
}
.header__search-input-wrap{
    flex: 1;
    width: 100%;    
    position: relative;
}
.header__search-input{
    
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 10px;
    border-radius: 2px;
}
.header__search-select{
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}
.header__search--select-label{
    font-size: 1.4rem;
    color: var(--text-color);   
}
.header__search-select-icon{
    font-size: 1.4rem;
    color: #4A4A4A;  
    position: relative;
    margin: 0 16px;
}
.header__search-btn{
    background-color: var(--primary-color-rgba);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
}
.header__search-btn:hover{
    background-color: #ef6549;
    cursor: pointer;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--write-color);
}
.header__search-select:hover .header__search-option{
    display: block;
}
.header__search-option::before{
    display: block;
    content: "";
    width: 100%;
    height: 10px;
    /* background-color: violet; */
    top: -10px;
    left: 0 ;
    position: absolute;
}
.header__search-option{
    position: absolute;
    right: 0;
    top: calc( 100% + 6px );
    width: 128px;
    list-style: none;
    box-shadow: 0 0 3px #ccc;
    padding-left: 0;
    border-radius: 2px;
    animation: fadeIn ease-in .2s;
    display: none;
    z-index: 1;
}
.header__search-option-item{
    background-color: var(--write-color);
    padding: 8px 8px;
 
}
.header__search-option-item:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

}
.header__search-option-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

}
.header__search-option-item:hover{
    background-color: #c9c2c2;
}
.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}
.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color-rgba);
    margin-left: 12px;
    display: none;
}
.header__search-option-item--active i{
    display: inline-block;
}
/* nhấp vào thanh tìm kiếm là hiện ra lịch sử  */
.header__search-input:focus ~ .header__search-history{
    display: block;
}
.header__search-history{
    position: absolute;
    top: calc(100% + 16px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--write-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #999;
    /* danh sách lịch sử tìm */
    display: none;
    overflow: hidden;
    z-index: 1;
    
}
.header__search-history-heading{
    margin: 6px 16px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 8px 0 0;
}
.header__search-history-item{
    height: 38px;
    padding: 0 16px;

}
.header__search-history-item:last-child{
    /* border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; */
}
.header__search-history-item:hover{
   background-color: #f5f2f2;
}
.header__search-history-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 38px;
    display: block;
}
/* app container */
.app__container{
    background-color: #f5f5f5;
}
.app__content{
    padding-top: 24px;
}
.caterogy{
    border-radius: 2px;
    background-color: var(--write-color);
}
.caterogy__heading{
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 16px 16px 0;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}


.caterogy-list{
    list-style: none;
    padding:0 0 8px 0;
  
}
.caterogy-item{
    position: relative;
}
.caterogy-item:first-child:before{
    display: none;
}
.caterogy-item::before{
    content: "";
    
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    border-top: 1px solid #E1E1E1;
}
.caterogy-item__active{

}
.caterogy-item__active .caterogy-item__link{
    color: var(--primary-color-rgba);
}

.caterogy-item__link{
    position: relative;
    font-size: 1.5rem;
    padding: 6px 20px;
    color: var(--text-color);
    text-decoration: none;
    display: block;
   
}
.caterogy-item__link:hover{
   
    color: var(--primary-color-rgba);
}
/* home sort + filter */
.home-filter{
    position: relative;
    background-color: rgba(0,0,0,0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}
.home-filter__page{
    margin-left: auto;
    display: flex;
    align-items: center;
}
.home-filter__label{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}
.home-filter__btn{
    margin-right: 12px;
    min-width: 90px;
}
.home-filter__page-num{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right:22px ;
}
.home-filter__page-curent{
    color: var(--primary-color-rgba);
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-btn{
    text-decoration: none;
    flex: 1;
    display: flex;
    background-color: var(--write-color);
}
.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}
.home-filter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}
.home-filter__page-btn--disable{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn--disable .home-filter__page-icon{
    color: #ccc;
 }
/* mobile category */
.mobile-category{
    display: none;
}
.mobile-category__item:nth-of-type(3n+1) .mobile-category__link{
    background-color: #87AFD8;
}

.mobile-category__item:nth-of-type(3n+2) .mobile-category__link{
    background-color: #76C9BD;
}

.mobile-category__item:nth-of-type(3n+3) .mobile-category__link{
    background-color: #88CF81;
}
.mobile-category__list{
    display: flex;
    list-style: none;
    padding-left: 0;
    overflow-x:auto ;
    width: 100%;

}
.mobile-category__list::-webkit-scrollbar{
    display: none;
}
.mobile-category__item{
    flex-shrink: 0;
}
.mobile-category__link{
    --line-height:2rem;

    text-decoration: none;
    color: var(--write-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    overflow: hidden;
    text-align: center;
    width: 110px;
    display: block;
    /* xử lý chiều rộng khi bị tràn */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border-radius: 3px;
    margin-right: 10px;
    font-weight: 300;
    /* không cho người dùng select  */
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0 6px;
}
/* PRODUCT */
.home-product{
    margin-bottom: 10px;
}
.home-product-item{
    display: block;
    text-decoration: none;
    position: relative;
    margin-top: 10px;
    background-color: var(--write-color);
    border-radius: 2px;
    
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    transition: transform linear .1s;
    will-change: transform;
}
.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .05);
}
.home-product-item__img{
    padding-top: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px;
    height: 3.6rem;
    overflow: hidden;
    display: block ;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp: 2;  
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}
.home-product-item__price{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

}
.home-product-item__price-old{
    font-size: 1.3rem;
    margin-left: 10px;
    color: #666;
    text-decoration: line-through;
}
.home-product-item__price-current{
    margin-left: 10px;
    font-size: 1.6rem;
    color: var(--primary-color-rgba);
    margin-left: 8px;

}
.home-product-item__action{
    justify-content: space-between;
    display: flex;
    margin:6px 10px 0;

}
.home-product-item__like{
    font-size: 1.3rem;
}
.home-product-item__like-icon--fill{
    color: #F63D30;
    display: none;
}
.home-product-item__like--liked .home-product-item__like-icon--fill{
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon--empty{
    display: none;
}
.home-product-item__rating{
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    margin: -1px 0 0 auto;
}
.home-product-item__star--gold{
    color: var(--star-gold-color);
}
.home-product-item__sold{
    margin-left: 6px;
    font-size: 1.2rem;
    color: var(--text-color);
}
.home-product-item__origin{
    display: flex;
    margin:3px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
    
    /* justify-content: space-between; */
}
.home-product-item__brand{
    margin-right: auto;
}
.home-product-item__origin-name{


}

.home-product-item__favorite{
    position: absolute;
    top: 10px;
    left: -4px; 
    color: var(--primary-color-rgba);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.home-product-item__favorite::after {
    content: "";
    /* display: block; */
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top:3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}
.home-product-item__favorite span{
    color: var(--write-color);
}
.home-product-item__favorite i{
    font-size: 0.9rem;
    color: var(--write-color);
    margin: 0 2px 0 5px;
}

.home-product-item__sale-off{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    border-top-right-radius: 2px;
    background-color: rgba(255,216 ,64,0.94);
    text-align: center;
}
.home-product-item__sale-off-percent{
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: 1px;
}
.home-product-item__sale-off-label{
    color: var(--write-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
    position: relative;
    /* top: 1px; */
    font-weight: 600;
}
.home-product-item__sale-off-label::after{
    content: "";
    position: absolute;
    left: -3px;
    bottom: -10px;
    border-width: 0 20px 5px;
    border-style: solid;
    color: rgba(255,216 ,64,0.94);
    border-color: transparent currentColor transparent currentColor;
}
/* footer */
.footer{
    border-top: 4px solid var(--primary-color-rgba);
    padding-top:16px ;    
}
.footer__heading{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer__list{
    padding-left: 0;
    list-style: none;
 
}
.footer-item__link{
    text-decoration: none;
    color: #666;
    font-size: 1.2rem;
    padding: 2px 0;
    display: block;
    display: flex;
    align-items: center;
}
.footer-item__link:hover{
    color: var(--primary-color-rgba);
}
.footer-item__icon{
    margin-top: -1px;
    margin-right: 5px;
}
.footer__download{
    display: flex;
}
.footer__download-qr{
    width: 80px;
    height: 80px;
}
.footer__download-apps{
    flex: 1;
}
.footer__download-link{
    display: flex;
    text-decoration: none;
}
.footer__download-title{
    font-size: 1.4rem;
    margin-left: 4px;
    line-height: 1.2rem;
}
.footer__download-app-img{
    width: 35px;
    height: 35px;
}
.footer__bottom{
    background-color: #F5F5F5;
    margin-top: 36px;
    padding: 8px 0;
}
.footer__bottom-text{
    margin: 0;
    text-align: center;
    font-size: 1.4rem;
}
